*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Merienda', sans-serif, serif, monospace;
    background-color: #f7edd0;
}
/* #14A6F2 blue*/
/* #E4C25C  sand*/
.navbar--container{
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    background-color: #14A6F2;
    justify-content: space-between;
    border-bottom-style: groove;
}

.navbar--image{
    margin: 5px;
    width: 60px;
}

.nav--list > a{
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.nav--list > a:hover{
    color: #E4C25C ;
    font-size: 23px;
}
a:hover{
    transition: 0.3s;
}

a:active{
    color: orangered;
    font-size: 23px;
}

.slidercontainer{
    display: flex;
}

.slidercontainer--image{
    width: 100%;
    height: 90vh;
    object-fit: fill;
}

.slidercontainer--next,
.slidercontainer--previous{
    color: white;
    background: transparent;
    position: absolute;
    z-index: 1;
    font-size: 35px;
    border: none;
}
.slidercontainer--next{
    top: 50%;
    left: 95%;
    
}

.slidercontainer--previous{
    top: 50%;
    right: 95%;
}

.slidercontainer--next:hover,
.slidercontainer--previous:hover{
    font-size: 40px;
    color: #E4C25C ;
}
.slidercontainer--slide{
    position: relative;
}
.slidercontainer--text{
    position: absolute;
    max-width: 550px;
    max-height: 200px;
    background-color: rgba(20, 166, 242, 0.6);
    box-shadow: 5px 5px 10px rgba(20, 166, 242,0.6);
    /* box-shadow: 5px 5px 10px grey; */
    border: 10px;
    border-radius: 10px;
    padding: 5px;
    z-index: 1;
    top: 70%;
    left: 16%;
}

.slidercontainer--text > h2{
    font-size: 18px;
    font-weight: 800;
}

.slidercontainer--text > p{
    font-size: 14px;
    font-weight: 700;
}


.info--container{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin: auto;
    background-color: #14A6F2;
    border-radius: 10px;
    margin-top: 0;
    margin-bottom: 50px;
    max-width: 1200px;
    padding: 20px;
    color: white;
    box-shadow: 5px 5px 10px grey;
}
.info--title{
    font-size: 30px;
    margin-bottom: 10px;
}
.info--name{
    font-size: 22px;
    margin: 10px 0 5px 0;
}
.info--info{
    font-size: 15px;
    margin: 5px 0 5px 0;
}

.hidden{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-50%);
    transition: all 1s;
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
    transition: all 1s;
}

.contacts--container{
    max-width: 300px;
    height: 220px;
    margin: auto;
    margin-top: 50px;
    background-color: #14A6F2;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    color: white;
}

.contacts--title{
    display: flex;
    justify-content: center;
}

.contacts--container > a{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    font-size: 15px;
    font-weight: 600;
    color: white;
}

.contacts--container > a:hover{
    font-size: 17px;
}

.contacts--whatsapp:hover{
    color: rgb(37, 211, 102);
}

.contacts--email:hover{
    color: #E4C25C ;
}

.contacts--messenger:hover{
    color: rgb(66, 103, 178) ;
}
.contacts--phone:hover{
    color: black ;
}

.feedbackslider--container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
    width: 100%;
    /* border-top: outset rgba(255, 255, 255,0.3); */
}

.feedbackslider--slide{
    background-color: rgba(255, 255, 255,0.3);
    max-width: 300px;
    max-height: 400px;
    margin: 25px 150px 25px 150px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px grey;
    padding: 20px;
 }
 
.feedbackslider--name{
    font-weight: 800;
    font-size: 20px;
}
.feedbackslider--feedback{
    padding-top: 0;
    font-size: 15px;
}
.end{
    display: flex;
    justify-content: flex-end;
    margin-right: 5px;
}

.feedbackslider--slide > ul{
    display: flex;
    justify-content: center;   
}

.feedbackslider--customquote{
    font-weight: 800;
    font-size: 25px;
    color: grey;
    margin-top: 10px;
}
.fa-star{
    margin-bottom: 4px;
    padding: 1px;
    color: rgb(255, 215, 0);
}


.footer--copyright{
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    background-color: #14A6F2;
    border: #14A6F2;
    border-style: inset;
    align-items: center;
    font-size: 10px;
}
.footer--link{
    padding-left: 3px;
    color: black;
    text-decoration: wavy underline;;
}

.footer--link:hover{
    font-size: 12px;
    color: #E4C25C;
}
.backgroundsvg{
    aspect-ratio: 960/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.wavestop {
    background-image: url(./images/wavestop.svg);
    border-top-style: groove;
}

.wavesbottom {
    background-image: url(./images/wavesbottom.svg);
    border-bottom-style: groove;
}

@media screen and (max-width: 1500px) {
    .feedbackslider--slide{
        margin-left: auto;
        margin-left: 220px;
        
    }
  }
  @media screen and (max-width: 1210px) {
    .feedbackslider--slide{
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;    
    }
  }

  @media screen and (max-width: 700px) {
    .slidercontainer--image{
        height: 60vh;
    }
    .slidercontainer--next,
    .slidercontainer--previous{
    display: none;
    }

    .slidercontainer--text{
        top: 60%;
        left: 11%;
        right: 11%;
    }

    .slidercontainer--text > h2{
        font-size: 13px;
        font-weight: 800;
    }
    
    .slidercontainer--text > p{
        font-size: 11px;
        font-weight: 700;
    }
    .hidden{
        transform: translateX(-30%);
    }
  }

  @media screen and (max-width: 470) {

  .slidercontainer--text > h2{
    font-size: 11px;
    font-weight: 800;
    }

    .slidercontainer--text > p{
    font-size: 9px;
    font-weight: 700;
    }
  }

  @media screen and (max-width: 400) {

    .hidden{
        transform: translateX(-5%);
    }
    }

/* @media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
    .show{
        transition: none;
    }
} */



